
@import url("pretendard.css");

@media (min-width: 465px) {
  .container {
    width: 460px !important;
  }
}

body {
  background-color: #fafafa !important;
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !important;
}

.highlight {
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !important;
  font-weight: 700;
}

.bold {
  font-family: "Pretendard", sans-serif !important;
  font-weight: 700 !important;
}

.detail {
  color: gray;
}

.btn-margin-b {
  margin-bottom: 10px;
}

/* 키워드 선택 */
.keyword {
  display: inline-block;
  padding: 8px 13px 8px 13px;
  border: 1px solid #57c3c5;
  cursor: pointer;
  position: relative;
  border-radius: 15px;
  color: #57c3c5;
}

.keyword.selected {
  background-color: #57c3c5;
  color: #fff;
}

.letsmake {
  border-radius: 20px !important;
  border: none !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  background: #50c9c3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #96deda,
    #50c9c3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #96deda,
    #50c9c3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.song-list {
  display: flex;
  align-items: center;
}

.album {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.play {
  border: none;
  background-color: transparent;
  margin-left: 10px;
  color: #d8d8d8;
  font-size: 27px;
}

.recent {
  width: 100%;
  padding-top: 9px;
  padding-bottom: 15px;
  background-color: #50c9c3;
  color: white;
  border-radius: 15px;
}

div {
  touch-action: manipulation !important;
}

.btn {
  touch-action: manipulation !important;
}
